.form-container{
    border-radius: 5px;
    background: #1d428a;
    padding: 2em 2em;
    display: flex;
    width: 100%;
    flex-direction: column;
    & form{
        display: flex;
        flex-direction: column;
    }
    
    & .form-field{
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    & input{
        border: 3px solid #8d8d8d;
        background: #d4d3d3;
        padding: .8em .8em;
        outline: none;
        border-radius: 3px;
        width: 100%;
        color: #222;
        font-weight: 700;
        margin-top: .3em;
    }

    & input[type=number]{
        -webkit-appearance: textfield;
    }

    & .number{
        flex-grow: 1;
        &:first-child{
            margin-right: 2em;
        }
    }

    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    & button{
        outline: none;
        border: none;
        color: #222;
        font-weight: 700;
        align-self: flex-start;
        margin-top: 1.6em;
        padding: .5em 1em;
        cursor: pointer;
    }

    & mat-icon{
        align-self: flex-end;
        cursor: pointer;
        color: #fd0f37;
        font-size: 2em;
        font-weight: 900;
        &:hover{
            opacity: .8;
        }
    }

    & .row{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    & h3{
        font-size: clamp(1em,15vw,2.5em);
    }

    & .messages{
        margin-top: 2em;
        & span{
            background: #eee;
            font-size: 1.5em;
            font-weight: 800;
            padding: .2em .5em;
            color: #c8102e;
        }
    }
    
    & .error-span{
        white-space: nowrap;
        color: #c8102e;
        font-weight: 700;
        margin-top: .1em;
    }
}