.home{
    width: 100%;
    height: 100vh;
    background-image: url(../../../../assets/images/lebron-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: .1px;
    display: flex;
    justify-content: center;
    align-items: center;
    .forms-container{
        max-width: 100%;
        width: 50%;
        backdrop-filter: blur(10px);
        background: #1d418a9f;
        border-radius: 10px 10px 0 0;
        @media screen and (max-width: 800px){
            width: 90%;
        }
    }

    .bienvenida-container{
        max-width: 100%;
        width: 60%;
        background: rgba(238, 238, 238, 0.486);
        border-radius: 5px;
        backdrop-filter: blur(15px);
        padding: 4em 2.5em 2em;
        @media screen and (max-width: 480px){
            width: 80%;
            padding: 2em 2.5em .6em; 
        }
        h1{
            text-align: center;
            font-size: clamp(.1em,7vw,3em);
            white-space: nowrap;
        }
        p{
            font-size: clamp(.5em,3.7vw,2em);
            line-height: 1.3em;
        }

        .buttons{
            font-size: clamp(.1em,3vw,1.5em);
            white-space: nowrap;
            margin-top: 3em;
            display: block;
        }

        span{
            cursor: pointer;
            color: #8ab4f8;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}