<app-header [logged]="false" (onHeaderClick)="clickedHeader($event)"></app-header>
<section class="home">
    <div class="bienvenida-container" *ngIf="!clicked">
        <h1>NBA CRUD APP</h1>
        <p>
            CRUD de jugadores NBA con funciones de ver, agregar, editar y eliminar. <br>
            Tambien se pueden agregar jugadores a favoritos para que cada usuario tenga su propia lista
            de jugadores favoritos.
        </p>
        <p class="buttons">
            Para ingresar <span (click)="clicked = 'registerForm'">registrate</span> o <span (click)="clicked = 'loginForm'">inicia sesion</span>
        </p>
    </div>
    <div class="forms-container" *ngIf="clicked">        
        <app-register *ngIf="clicked === 'registerForm'" (onCrossClicked)="clickedHeader($event)"></app-register>
        <app-login *ngIf="clicked === 'loginForm'" (onCrossClicked)="clickedHeader($event)"></app-login>
    </div>
</section>
