<div class="register-container">
    <h2>Crear cuenta</h2>
    <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="register()">

        <mat-form-field appearance="fill" class="form-input">
            <mat-label>Nombre de usuario*</mat-label>
            <input matInput
                   type="text"
                   class="form-input"
                   formControlName="username"
                   autocomplete="off">
            <mat-error *ngIf="touchedButton && validate('username','required')">Usuario obligatorio</mat-error>
       </mat-form-field>


          <mat-form-field appearance="fill" class="form-input">
            <mat-label>Correo electronico*</mat-label>
            <input matInput
                   type="email"
                   placeholder="example@exaple.com"
                   class="form-input"
                   formControlName="email"
                   autocomplete="off">
            <mat-error *ngIf="touchedButton && validate('email','required')">Correo obligatorio</mat-error>
            <mat-error *ngIf="touchedButton && validate('email','pattern')">Correo invalido</mat-error>
          </mat-form-field>


          <mat-form-field appearance="fill" class="form-input">
            <mat-label>Contraseña*</mat-label>
            <input matInput
                   type="password"
                   class="form-input"
                   formControlName="password1"
                   autocomplete="off">
            <mat-error *ngIf="touchedButton && validate('password1','required')">Contraseña obligatoria</mat-error>
          </mat-form-field>


          <mat-form-field appearance="fill" class="form-input">
            <mat-label>Confirmar Contraseña*</mat-label>
            <input matInput
                   type="password"
                   class="form-input"
                   formControlName="password2"
                   autocomplete="off">
            <mat-error *ngIf="touchedButton && validate('password2','noIguales')">Las contraseñas no coinciden</mat-error>
          </mat-form-field>

          <div class="buttons-cont">
              <button mat-raised-button color="primary" type="submit" *ngIf="!cargando">Ingresar</button>
              <div class='spinner' *ngIf="cargando"></div>
              <button mat-raised-button color="primary" (click)="googleLogin()" *ngIf="!cargando" type="button">Ingresar con google</button>
          </div>
    </form>
    <p>¿Ya tienes cuenta? <span (click)="onCrossClicked.emit('loginForm')">Inicia Sesion</span></p>
    <span class="register-error"> {{ registerErrorMsg }} </span>
    <mat-icon class="close-icon" (click)="onCrossClicked.emit('')">close</mat-icon>
</div>
