.register-container{
    padding: 2em 2em 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    & form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    & .form-input{
        width: 100%;
        margin-bottom: 1em;
    }

    & input{
        font-size: 1.3em;
    }

    button{
        background: #af0505;
    }

    .register-error{
        color: #d40303;
        font-size: 1.4em;
        margin-top: 1em;
    }

    .close-icon{
        cursor: pointer;
        user-select: none;
        position: absolute;
        top: 2%;
        right: 3%;
        font-size: 2em;
    }

    p{
        margin-top: 1.2em;
        font-size: 1.5em;
        @media screen and (max-width: 392px){
            font-size: 1.1em;
        }
    }
    span{
        cursor: pointer;
        color: #8ab4f8;
        &:hover{
            text-decoration: underline;
        }
    }

    .buttons-cont{
        display: flex;
        gap: 2em;
    }
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 2em;
    border-left-color: #d40303;
  
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }